:root{
	font-family: arial;
}

.left{
	text-align: left;
}

#sales,#mark,#mang, #totals{
	background-color: darkslategrey;
}
h1{
	text-align: center;
	color: orange;
}

p{
	text-align: right;
	color: orange;
}

ul{
	text-align: left;
	color: orange;
}

h2{
	text-align: justify;
	color: orange;
}

figure{
	text-align: center;
}

body{
	background-color: dimgray;
}
footer{
	text-align: center;
}
figcaption{
	color: yellow;
}

nav{
	text-align: center;
}

main{
	color: coral;
}

table{
	text-align: center;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

th,td{
	border: 1px solid black;
}

h3{
	text-align: center;
}

table tr:nth-child(even){
	background-color: grey;
}

table tr:nth-child(odd){
	background-color: white;
}
table tr:nth-child(1){
	background-color: black;
}