:root{
	font-family: arial;
}

.left{
	text-align: left;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.pink{
	color: plum;
}

.body-text{
	margin-left: 200px;
}

.p-margin{
	margin-right: 800px;
}

.small-logo{
	margin-left:500px;
	margin-right: 50px;
	display:block;
	float:left;
	
}
.head-floatr{
	color:orange;
}

.float-right{
	float:right;
}

.inline-buttons{
	text-align: center;
	display: block;
	margin-top: 50px;
}

#calc-display
{
	text-align: right;
	border:2px;
	border-style: solid;
	border-color:black;
	margin-right: 600px;
	margin-left: 600px;
	background-color: cyan;
	color: black;
}
.calc-container
{
	align-content: center;
	margin: 0px 500px 0px 500px;
	display: grid;
	width: 50%;
	grid-gap: 2px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calc-button{
	padding: 15px 5px;
	font-size: 20px;
}

#footer-nav{
	margin-top: 50px;
}
#sales,#mark,#mang, #totals{
	background-color: darkslategrey;
}

#coupons{
	background-color: greenyellow;
	font-weight: bold;
}

#text-messages,#sister-signup{
	margin: 20px;
}

#weekly,#monthly{
	margin-top: 15px;
}

h1{
	text-align: center;
	color: orange;
}

p{
	text-align: left;
	color: orange;
}

ul{
	text-align: left;
	color: orange;
}

h2{
	color: orange;
}

figure{
	text-align: center;
}

body{
	background-color: dimgray;
}
footer{
	text-align: center;
}
figcaption{
	color: yellow;
}

nav{
	text-align: center;
}

main{
	color: coral;
}

table{
	text-align: center;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

th,td{
	border: 1px solid black;
}

table tr:nth-child(even){
	background-color: grey;
}

table tr:nth-child(odd){
	background-color: white;
}
table tr:nth-child(1){
	background-color: black;
}

button{
	background-color:indigo;
	color: lightblue;
}

a:link{
	color: #91DD17;
}
a:visited{
	color: #EEE25B;
}
