/*default css for project pages*/

body {
	font-family: Helvetica;
	font-size: 15px;
	color: #9FE1F4;
	background-color: #06410D;
}

a:link{
	color: #F4F80D;
}

a:visited{
	color: #E99595;
}

h1{
	text-align: center;
}

h2{
	font-size: 1.7em;
}

.nav-bar{
	text-align: center;
	font-size: 16px;
	position: relative;
	right: 50px;
}

.pod-figure{
	margin-right: 200px;
}

.nav-bar a{
	margin-left: 50px;
	margin-right: 50px;
}

.dgcourse-div{
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
	grid-row-gap: 0px;
	grid-column-gap: 0px;
	margin-bottom: 150px;
}

.dgc-header{
	text-align: center;
	font-size: 18px;
}


.dgcourse-div p{
	margin: 75px 200px 5px 0px;
}

.quiz-form button{
	margin-top: 50px;
	padding: 10px;
}

.quiz-form p{
	margin-top: 50px;
}

.quiz-form input{
	margin: 10px 0px 10px 0px;
}

.center{
	text-align: center;
}


footer{
	text-align: center;
}

footer a{
	margin: 5px 15px 5px 15px;
	text-decoration: none;
}

header{
	font-size: 28px;
}

header a{
	text-decoration: none;
	font-size: 22px;
}

.pod-placeholder{
	height: 500px;
	width: auto;
	
}

.main-margin{
	margin-left: 200px;
}

.p-margin{
	margin-right: 800px;
	margin-bottom: 50px;
}

p{
	font-size: 20px;
}

table{
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	margin-right: 500px;
	margin-left: auto;
}

table td:nth-child(3){
	white-space: nowrap;
}

th{
	font-size: 25px;
}

table tr{
	background-color: #042c09;
}

td{
	font-size: 20px;
}

th,td{
	border: 2px solid black;
	padding: 5px;
}

/*since all original images for discs were the same size
I decided to resize images in css*/
table img{
	width: 300px; 
	height: auto;
}



#home-container{
	/* TODO: change side margins to center the grid, round the img corners*/
	display: grid;
	justify-content: center;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	margin-left: 250px;
	margin-right: 450px;
	margin-bottom: 50px;
}


.box{
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
}

.home-img{
	border-radius: 30px;
	width: auto;
	height: 360px;
}

#accordion h3{
	font-size: 1.9em;
}

#home-overlay{
	display: none;
	positon: fixed;
}

form p b{
	color:#FFC300;
	font-size: 23;
}
